/*Custom styles that override DataTables css.
Most of our css files are stored on a CDN and accessed via a link tag in
index.html. This custom css stylesheet overrides some of those
styles that come with DataTables with ones stored in this file and
accessed via a relative path in the index.html file. */

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;

  padding: 0.1em 1em !important;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
