<table id="main-table" class="display dataTable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Location</th>
      <th>Duration</th>
      <th>Cost</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
