<table id="main-table" class="display dataTable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Location</th>
      <th>Duration</th>
      <th>Cost</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr id="1">
      <td>Climb Everest</td>
      <td>Adventure</td>
      <td>Nepal</td>
      <td>3 Months</td>
      <td>12,000</td>
      <td>In Progress</td>
    </tr>
    <tr id="2">
      <td>Skydive</td>
      <td>Adventure</td>
      <td>Tokyo</td>
      <td>1 Day</td>
      <td>300</td>
      <td>In Progress</td>
    </tr>
    <tr id="3">
      <td>Visit NYC</td>
      <td>Tourism</td>
      <td>New York</td>
      <td>1 Week</td>
      <td>1000</td>
      <td>In Progress</td>
    </tr>
  </tbody>
</table>
