<!-- Change settings HTML -->
<div class='change-password col-xs-offset-2 col-xs-5'>
  <form id="change-password">
      <input type='password' name='credentials[old]' placeholder='current password'>
      <br>
      <input type='password' name='credentials[new]' placeholder='new password'>
      <br>
      <input type='password' name='credentials[new_confirmation]' placeholder='confirm password'>
      <br>
      <input type="submit" id="change-password-submit" name="submit" value="Change">
      <input type="button" id="change-settings-cancel" value="Cancel">
  </form>
</div>

<div id='logged-in-user' class='logged-in-user col-xs-2'>
</div>

<div class='logged-in-buttons col-xs-3'>
  <span id='change-settings-request' class='icon fa fa-cog'></span>
  <input type='button' id='log-out-request' value='Log out'>
</div>
