<div class='register col-xs-offset-2 col-xs-7'>
  <form id='register'>
      <input type='email'
        name='credentials[email]' placeholder='email'>
      <br>
      <input type='password' name='credentials[password]' placeholder='password'>
      <br>
      <input type='password'
        name='credentials[password_confirmation]' placeholder='confirm password'>
      <br>
      <input type='text'
        name='credentials[name]' placeholder='name (optional)'>
      <br>
      <input type='text'
        name='credentials[organization]' placeholder='organization (optional)'>
      <br>
      <input id='register-submit' type='submit' name='submit' value='Register'>
      <input id='cancel-request' type='button' value='Cancel'>
  </form>
</div>

<div class='register col-xs-3'>
  <input type='button' id='register-request' value='Register'>
  <input type='button' id='log-in-request' value='Log in'>
</div>
